
<head>
  <title>Glitch Bot - Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/Links.css">
  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
  <link rel="icon" type="image/png" href="../images/logo.png" sizes="32x32">
</head>
<body>

  <form action="/dashboard/update" method="post">
    <label for="team_name">Enter prefix: </label>
    <input id="team_name" type="text" name="name_field" value="{{ b }}">
    <input type="submit" value="OK">
</form>
</body>