<html>
 <head>
  <title>Glitch-Bot - Stats</title>
  <link type="text/css" rel= "stylesheet" href= "../css/main.css">
  <link type="text/css" rel= "stylesheet" href= "../css/main.css">
</head>
<body>
    <h1>Test</h1>
</body>
</html>