
<head>
  <title>Glitch Bot - Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/Links.css">
  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
  <link rel="icon" type="image/png" href="../images/logo.png" sizes="32x32">
</head>
<body>

  <form class="dashboard" method="/dashboard/update">

  </form>
</body>